<!DOCTYPE html>
<html>

<head>
    <title>Stripe Success</title>
</head>

<style type="text/css">
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    pre {
        background-color: #f8f8f8;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: auto;
    }
</style>

<body>

    <h2>Thanks, you paid <strong>${{json_response}}/strong>!</h2>
    
    <h3>JSON Response:</h3>
    <pre>{{ json_response | tojson(indent=2) }}</pre>

</body>

</html>
