<!DOCTYPE html>
<html>

<head>
    <title>Stripe Fail</title>
</head>

<style type="text/css">
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    pre {
        background-color: #f8f8f8;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: auto;
    }
</style>

<body>

        <p>
            <h2>Something went wrong!</h2>
        </p>


  
<!-- 
    <h3>JSON Response:</h3>
    <pre>{{ transaction_value }}</pre>
    <pre>{{ error }}</pre> -->

<p>

</p>

<h1>Click here to go back </h1>
    <p>
        
        <a href="/">Try Again</a>
    </p>


</body>

</html>
