<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
</head>
<body>

    <h1>Payment Form</h1>
    <p>abcd    {{total_amount}}
        {{booking_id}}</p>

    <form action="/payment/charge" method="post">
        <input type="hidden" name="amount" value={{total_amount}}> <!-- Amount in cents (15 SGD * 100) -->
       
        <input type="hidden" name="currency" value="sgd"> <!-- Currency is SGD -->
        <input type="hidden" name="booking_id" value="{{booking_id}}">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51OrGR4EaG7MlgHzNQwricleoYjYmbA8G5CJnfChOL2Y46OlsUX7Gr8yhrgJ2iEsk0fS8zCTS3fNUihatUXr2S8aO00sEfiF6Sf"
            data-amount={{total_amount}}
            data-name="Starlight Cinema"
            data-description="Payment"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="sgd">
        </script>
    </form>

    <!-- Add Cancel Button Form -->
    <form action="/payment/cancel/{{booking_id}}" method="post">
        <input type="hidden" name="booking_id" value="{{booking_id}}">
        <button type="submit">Cancel</button>
    </form>

</body>
</html>
