<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Select Seat - Movie Seat Booking</title>
</head>
<body>
  <h1>Select Seat</h1>

  <div class="container">
    
    <div class="screen"></div>
    <div class="row">
      <!-- Row A -->
      <div class="seat" id="1">A1</div>
      <div class="seat" id="2">A2</div>
      <div class="seat" id="3">A3</div>
      <div class="seat" id="4">A4</div>
      <div class="seat" id="5">A5</div>
      <div class="seat">A6</div>
      <div class="seat">A7</div>
      <div class="seat">A8</div>
      <div class="seat">A9</div>
      <div class="seat">A10</div>
    </div>

    <div class="row">
      <!-- Row B -->
      <div class="seat">B11</div>
      <div class="seat">B12</div>
      <div class="seat">B13</div>
      <div class="seat">B14</div>
      <div class="seat">B15</div>
      <div class="seat">B16</div>
      <div class="seat">B17</div>
      <div class="seat">B18</div>
      <div class="seat">B19</div>
      <div class="seat">B20</div>
    </div>

    <div class="row">
      <!-- Row C -->
      <div class="seat">C21</div>
      <div class="seat">C22</div>
      <div class="seat">C23</div>
      <div class="seat">C24</div>
      <div class="seat">C25</div>
      <div class="seat">C26</div>
      <div class="seat">C27</div>
      <div class="seat">C28</div>
      <div class="seat">C29</div>
      <div class="seat">C30</div>
    </div>

    <div class="row">
      <!-- Row D -->
      <div class="seat">D31</div>
      <div class="seat">D32</div>
      <div class="seat">D33</div>
      <div class="seat">D34</div>
      <div class="seat">D35</div>
      <div class="seat">D36</div>
      <div class="seat">D37</div>
      <div class="seat">D38</div>
      <div class="seat">D39</div>
      <div class="seat">D40</div>
    </div>

    <div class="row">
      <!-- Row E -->
      <div class="seat">E41</div>
      <div class="seat">E42</div>
      <div class="seat">E43</div>
      <div class="seat">E44</div>
      <div class="seat">E45</div>
      <div class="seat">E46</div>
      <div class="seat">E47</div>
      <div class="seat">E48</div>
      <div class="seat">E49</div>
      <div class="seat">E50</div>
    </div>

    <!-- Add more rows if necessary -->

    <ul class="showcase">
      <li><div class="seat"></div><small>Available</small></li>
      <li><div class="seat selected"></div><small>Selected</small></li>
      <li><div class="seat sold"></div><small>Taken</small></li>
      <li><div class="seat reserved"></div><small>Reserved</small></li>
    </ul>

    <div class="datetime-container">
      <label>Select date:</label>
      <input type="date" id="date">
      <label>Select time:</label>
      <input type="time" id="time">
    </div>
  </div>

  <div class="movie-container">
    <label>Select a movie:</label>
    <select id="movie">
      <option value="10">Avengers - Infinity War</option>
      <option value="10">Batman V Superman</option>
      <option value="10">Guardians of the Galaxy</option>
    </select>
  </div>
  <div id="abc"> </div>
  <div id="screeningId">abc</div>
  <div id="screeningData"></div>
  <p class="text">You have selected <span id="count">0</span> seat for a price of $<span id="total">0</span></p>

  <!-- <button class="book-now">Book Now</button> -->
  <!-- <a href="payment.html" class="book-now">Book Now</a> -->
  <form id="paymentForm" action="payment" method="POST">
    <!-- Your other form fields here -->
    <input type="hidden" id="totalInput" value=0> <!-- Hidden input field for the total value -->
    <button type="submit" class="book-now">Book Now</button> <!-- Submit button -->
  </form>
  


  <button id="subscribe-btn" class="subscribe-btn">Subscribe to Notification</button>


  <script src="script.js">
  </script>

  
</body>
</html>
