<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Select Seat - Movie Seat Booking</title>
</head>
<body>
  <h1>Select Seat</h1>

  <div class="container">
    
    <div class="screen"></div>
    <div class="row">
      <!-- Row A -->
      <div class="seat">A1</div>
      <div class="seat">A2</div>
      <div class="seat">A3</div>
      <div class="seat">A4</div>
      <div class="seat">A5</div>
      <div class="seat">A6</div>
      <div class="seat">A7</div>
      <div class="seat">A8</div>
      <div class="seat">A9</div>
      <div class="seat">A10</div>
    </div>

    <div class="row">
      <!-- Row B -->
      <div class="seat">B11</div>
      <div class="seat">B12</div>
      <div class="seat">B13</div>
      <div class="seat">B14</div>
      <div class="seat">B15</div>
      <div class="seat">B16</div>
      <div class="seat">B17</div>
      <div class="seat">B18</div>
      <div class="seat">B19</div>
      <div class="seat">B20</div>
    </div>

    <div class="row">
      <!-- Row C -->
      <div class="seat">C21</div>
      <div class="seat">C22</div>
      <div class="seat">C23</div>
      <div class="seat">C24</div>
      <div class="seat">C25</div>
      <div class="seat">C26</div>
      <div class="seat">C27</div>
      <div class="seat">C28</div>
      <div class="seat">C29</div>
      <div class="seat">C30</div>
    </div>

    <div class="row">
      <!-- Row D -->
      <div class="seat">D31</div>
      <div class="seat">D32</div>
      <div class="seat">D33</div>
      <div class="seat">D34</div>
      <div class="seat">D35</div>
      <div class="seat">D36</div>
      <div class="seat">D37</div>
      <div class="seat">D38</div>
      <div class="seat">D39</div>
      <div class="seat">D40</div>
    </div>

    <div class="row">
      <!-- Row E -->
      <div class="seat">E41</div>
      <div class="seat">E42</div>
      <div class="seat">E43</div>
      <div class="seat">E44</div>
      <div class="seat">E45</div>
      <div class="seat">E46</div>
      <div class="seat">E47</div>
      <div class="seat">E48</div>
      <div class="seat">E49</div>
      <div class="seat">E50</div>
    </div>

    <!-- Add more rows if necessary -->

    <ul class="showcase">
      <li><div class="seat"></div><small>Available</small></li>
      <li><div class="seat selected"></div><small>Selected</small></li>
      <li><div class="seat sold"></div><small>Taken</small></li>
      <li><div class="seat reserved"></div><small>Reserved</small></li>
    </ul>

    <div class="datetime-container">
      <label>Select date:</label>
      <input type="date" id="date">
      <label>Select time:</label>
      <input type="time" id="time">
    </div>
  </div>

  <div class="movie-container">
    <label>Select a movie:</label>
    <select id="movie">
      <option value="10">Avengers - Infinity War</option>
      <option value="10">Batman V Superman</option>
      <option value="10">Guardians of the Galaxy</option>
    </select>
  </div>

  <p class="text">You have selected <span id="count">0</span> seat for a price of $<span id="total">0</span></p>

  <!-- <button class="book-now">Book Now</button> -->
  <a href="payment.html" class="book-now">Book Now</a>

  <div id="subscribeDisplay">
  </div>

  <script src="script.js"></script>
  <script>
    // General
    // 

    var email = localStorage.getItem("email");
    var userId = localStorage.getItem("userid");
    var screeningId = 2; // Hard coded for now to be changed when integrating
    
    // Subscribe Methods
    // Function to fetch and subscribers for a specific screening
    function fetchSubscribers(screeningId, userId) {
      fetch(`http://127.0.0.1:5003/subscribers/subscriptions/${screeningId}`)
      .then(response => response.json())
      .then(data => {
        console.log(data);
        if (data.code === 200) {
          const userIdList = data.data.subscribers.map(subscriber => subscriber.user_id);
          console.log(userIdList);
          console.log(userId);
          checkSubscription(userIdList, userId, screeningId);
        } else {
          subscribeUser(screeningId)
        }
      })
      .catch(error => console.error('Error fetching subscribers:', error));
    }

    // Function to check if current user is already subscribed
    function checkSubscription(userIdList, userId, screeningId) {
      console.log(typeof userId); // Log data type of userId
      console.log(userIdList.map(id => typeof id)); // Log data types of elements in userIdList

      const isSubscribed = userIdList.find(id => id === parseInt(userId));
      console.log(isSubscribed)
      // If isSubscribed holds a value, display Unsubscribe button
      if (isSubscribed) {
        console.log("User is subscribed");
        unsubscribeUser(screeningId);
      // If isSubscribed is undefined, display Subscribe button
      } else {
        console.log("User is not subscribed");
        subscribeUser(screeningId);
      }
    }

    // Function to display the button as 'Subscribe' and allow the user to subscribe
    function subscribeUser(screening_id) {
        // Update the HTML content of the subscribeDisplay div
        document.getElementById("subscribeDisplay").innerHTML = `
            <form id="subscriptionForm" action="http://127.0.0.1:5003/subscribers/subscribe?screening_id=${screening_id}&user_id=${userId}&email=${email}" class="subscribe-form" method="post">
              <input type="hidden" name="redirect" value="${window.location.href}"> 
              <button id="subscribe-btn" type="submit" class="btn btn-outline-primary subscribe-btn">Subscribe</button>
            </form>
        `;
        // This code prevents redirecting to the specified URL in the form but still executes the route function, instead it redirects
        // user back to the page after the record has been created
        document.getElementById("subscriptionForm").addEventListener("submit", function(event) {
          event.preventDefault(); // Prevent form submission
          var form = this;
          // Perform form submission
          fetch(form.action, {
              method: form.method,
              body: new FormData(form)
          })
          .then(response => {
              // Redirect user back to this page after subscribing
              window.location.href = window.location.href;
          })
          .catch(error => {
              console.error('Error:', error);
          });
        });
    }

    // Function to display the button as 'Unsubscribe' and allow the user to unsubscribe
    function unsubscribeUser(screening_id) {
      // Update the HTML content of the subscribeDisplay div
      document.getElementById("subscribeDisplay").innerHTML = `
          <form id="subscriptionForm" action="http://127.0.0.1:5003/subscribers/unsubscribe?screening_id=${screening_id}&user_id=${userId}" class="subscribe-form" method="delete">
            <input type="hidden" name="redirect" value="${window.location.href}"> 
            <button id="subscribe-btn" type="submit" class="btn btn-outline-primary subscribe-btn">Unsubscribe</button>
          </form>
      `;
      // This code prevents redirecting to the specified URL in the form but still executes the route function, instead it redirects
      // user back to the page after the record has been created
      document.getElementById("subscriptionForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default form submission
        
        // Get the form data
        const formData = new FormData(this);
    
        // Extract the action and method attributes from the form
        const action = this.getAttribute("action");
        const method = this.getAttribute("method");
    
        // Make sure the method is not GET or HEAD before making the fetch request
        if (method !== "GET" && method !== "HEAD") {
            // Perform fetch request with form data
            fetch(action, {
                method: method,
                body: formData
            })
            .then(response => {
                // Redirect user back to this page after unsubscribing
                window.location.href = window.location.href
            })
            .catch(error => {
                console.error('Error:', error);
            });
        } else {
            console.error('GET/HEAD method cannot have a body.');
        }
      });
    }

    // Run fetchSubscribers function when the page loads
    window.onload = function() {
      // Replace this with the main function used to decide whether Subscribe or BookNow should be called
      fetchSubscribers(screeningId, userId)
    };

  </script>
</body>
</html>
