<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Payment Successful</title>
</head>
<body>
  <div class="container">
    <div class="grey-box">
      <h1 class="success-heading">Payment Successful</h1>
      <p>Thank you for your payment! You will receive an email with your booking details.</p>
      <p>Click <a href="http://localhost:8000/" class="yellow-text">here</a> to return to homepage</p>
    </div>
  </div>
</body>
</html>
